*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.lista-principal{align-items: center;
    justify-content: space-around;
    display: flex;
}

.imagem-principal{
    width: 20%;
}
.futuro{
    background-color: brown;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.outra-imagem{
    width: 15%;}